<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.ioe.dao.CommonDao">
    <select id="getTable" resultType="String">
        SELECT  group_concat(column_name separator ',') AS columns
        FROM information_schema.columns
        WHERE table_schema = 'film' AND table_name = #{tableName} AND column_name != 'id'
        GROUP BY table_name
    </select>

    <insert id="batchCreateTable">
        <foreach collection="datas" index="index" item="data" open="" separator=";" close="">
            INSERT INTO ${tableName}
            <foreach collection="data.keys" index="index" item="columm" open="(" separator=","
                     close=")">
                ${columm}
            </foreach>
            VALUES
            <foreach collection="data.values" index="index" item="val" open="(" separator=","
                     close=")">
                #{val}
            </foreach>
        </foreach>
    </insert>

    <update id="batchUpdate">
        <foreach collection="datas" index="index0" item="singleData" open="" separator=";" close="">
            UPDATE ${tableName} SET
            <foreach collection="singleData" index="index1" item="column" open="" separator="," close="">
                <if test="column!=null">
                    ${index1}=${column}
                </if>
            </foreach>
            WHERE disabled=1 AND information=
            <foreach collection="singleData" index="index2" item="columm2" open="" separator=","
                     close="">
                <if test="index2 == 'information'">
                    #{columm2}
                </if>
            </foreach>
        </foreach>
    </update>

    <update id="batchdelete">
        UPDATE ${tableName} SET disabled=0 AND information
        <foreach collection="information" index="index" item="deviceCode" open="(" separator=","
                 close=")">
            #{information}
        </foreach>
    </update>
</mapper>