<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.ioe.dao.CustomerDao">
    <resultMap id="resultMap" type="com.ioe.entity.Customer">
        <result column="customer_id" property="customerId" jdbcType="VARCHAR"/>
        <result column="customer_name" property="customerName" jdbcType="VARCHAR"/>
        <result column="customer_email" property="customerEmail" jdbcType="INTEGER"/>
        <result column="customer_mobile" property="customerMobile" jdbcType="VARCHAR"/>
        <result column="class_id" property="classId" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>