<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.ioe.dao.t_cjlu_scheduleDao">

    <resultMap id="resultMap" type="com.ioe.dto.t_cjlu_scheduleEntity">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="scheduleId" column="schedule_id" jdbcType="VARCHAR"/>
        <result property="movieId" column="movie_id" jdbcType="VARCHAR"/>
        <result property="hallId" column="hall_id" jdbcType="VARCHAR"/>
        <result property="schedulePrice" column="schedule_price" jdbcType="DECIMAL"/>
        <result property="scheduleBegindatetime" column="schedule_begindatetime" jdbcType="DATETIME"/>
        <result property="sysCreateTime" column="sys_create_time" jdbcType="TIMESTAMP"/>
        <result property="sysCreator" column="sys_creator" jdbcType="VARCHAR"/>
        <result property="sysUpdateTime" column="sys_update_time" jdbcType="TIMESTAMP"/>
        <result property="sysUpdater" column="sys_updater" jdbcType="VARCHAR"/>
        <result property="sysDeleted" column="sys_deleted" jdbcType="TINYINT"/>
        <result property="sysHash" column="sys_hash" jdbcType="VARCHAR"/>
        <result property="sysAvailData" column="sys_avail_data" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="tableName">t_cjlu_schedule</sql>
    <sql id="columns">
        id,
        schedule_id,
        movie_id,
        hall_id,
        schedule_price,
        schedule_begindatetime,
        sys_create_time,
        sys_creator,
        sys_update_time,
        sys_updater,
        sys_deleted,
        sys_hash,
        sys_avail_data
    </sql>

    <!-- single entity save -->
    <insert id="save">
        insert into
        <include refid="tableName"/>
        (<include refid="columns"/>) values
        (
            #{entity.id},
            #{entity.scheduleId},
            #{entity.movieId},
            #{entity.hallId},
            #{entity.schedulePrice},
            #{entity.scheduleBegindatetime},
            #{entity.sysCreateTime},
            #{entity.sysCreator},
            #{entity.sysUpdateTime},
            #{entity.sysUpdater},
            #{entity.sysDeleted},
            #{entity.sysHash},
            #{entity.sysAvailData}
        )
    </insert>

    <!-- mutipule entity save -->
    <insert id="insertBatch">
        insert into
        <include refid="tableName"/>
        (<include refid="columns"/>) values
        <foreach collection="entities" open="(" close=")" item="entity" separator=",">
        (
            #{entity.id},
            #{entity.scheduleId},
            #{entity.movieId},
            #{entity.hallId},
            #{entity.schedulePrice},
            #{entity.scheduleBegindatetime},
            #{entity.sysCreateTime},
            #{entity.sysCreator},
            #{entity.sysUpdateTime},
            #{entity.sysUpdater},
            #{entity.sysDeleted},
            #{entity.sysHash},
            #{entity.sysAvailData}
        )
        </foreach>
    </insert>

    <!-- get entity by id -->
    <select id="getById" resultMap="resultMap">
        select <include refid="columns"/>
        from <include refid="tableName"/>
        where id = #{id}
        and sys_deleted=0
    </select>

    <update id="deleteById">
        update <include refid="tableName"/>
        set sys_deleted=1, sys_updater=#{operator}
        where id=#{id}
        and sys_deleted!=1
    </update>


<!-- update entity -->
    <update id="update" parameterType="com.ioe.entity.Schedule">
        update
        <include refid="tableName"/>
        set
            schedule_id = #{entity.scheduleId},
            movie_id = #{entity.movieId},
            hall_id = #{entity.hallId},
            schedule_price = #{entity.schedulePrice},
            schedule_begindatetime = #{entity.scheduleBegindatetime},
            sys_create_time = #{entity.sysCreateTime},
            sys_creator = #{entity.sysCreator},
            sys_update_time = #{entity.sysUpdateTime},
            sys_updater = #{entity.sysUpdater},
            sys_deleted = #{entity.sysDeleted},
            sys_hash = #{entity.sysHash},
            sys_avail_data = #{entity.sysAvailData}
        where  and sys_deleted!=1
    </update>

    <select id="getByScheduleId" resultMap="resultMap">
        select <include refid="columns"/>
        from <include refid="tableName"/>
        where 1=1
        and sys_deleted=0
        <if test="scheduleId!=null">
            and schedule_id=#{scheduleId}
        </if>
    </select>
</mapper>